<mat-card class="card">
<mat-card-content>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="message.owner">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Message" [(ngModel)]="message.text"></textarea>
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="post()">POST</button>
      </mat-card-actions>
</mat-card-content>
</mat-card>